<section class="bg-main-light shadow rounded-2 p-3 my-4">
  <h1 class="h2 text-main mb-2">Register Now</h1>
  <form [formGroup]="formReg" (ngSubmit)="onRegister()">
      <!-- Name -->
      <app-input type="text" label="name" formControlName="name" placeholder="Ex. alex jone" ></app-input>
      <app-error [control]="formReg.get('name')" type="name"></app-error>
      <!-- email -->
      <app-input type="email" label="email" formControlName="email" placeholder="Ex. alex@123.com" ></app-input>
      <app-error [control]="formReg.get('email')" type="email"></app-error>
      <!-- phone -->
      <app-input type="phone" label="phone" formControlName="phone" placeholder="Ex. 01210203040" ></app-input>
      <app-error [control]="formReg.get('phone')" type="phone"></app-error>
      <!-- password -->
      <app-input type="password" label="password" formControlName="password" placeholder="Ex. 123456" ></app-input>
      <app-error [control]="formReg.get('password')" type="password"></app-error>
      <!-- rePassword -->
      <app-input type="password" label="rePassword" formControlName="rePassword" placeholder="Ex. 123456" ></app-input>
      <app-error [control]="formReg" type="rePassword"></app-error>

    <button [disabled]="formReg.invalid || isLoading" class="btn-main ms-auto d-block" >
      Register
      @if(isLoading){
        <span><i class="fas fa-spin fa-spinner"></i></span>
      }
    </button>
  </form>
</section>
