<section class="bg-main-light shadow rounded-2 p-3">
  <h1 class="h2 text-main mb-2">Login Now</h1>
  <form [formGroup]="formLogin" (ngSubmit)="loginForm()">
    <app-input type="email" label="email" formControlName="email" placeholder="Ex. alex@123.com" ></app-input>
    <app-error [control]="formLogin.get('email')" type="email"></app-error>
    <app-input type="password" label="password" formControlName="password" placeholder="Ex. 123456" ></app-input>
    <app-error [control]="formLogin.get('password')" type="password"></app-error>
    <div class="d-flex justify-content-between">
      <a routerLink="/forget" class="text-main">Forget Password ?</a>
      <button [disabled]="isLoading" class="btn-main ms-auto d-block" >
        Login
        @if(isLoading){
          <span><i class="fas fa-spin fa-spinner"></i></span>
        }
      </button>
    </div>
  </form>
</section>
